@model IEnumerable<LaptopStore.Models.KHACHHANG>

@{
    ViewBag.Title = "KHACHHANG";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Khách Hàng</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Họ Tên")
        </th>
        <th>
            @Html.DisplayName("Tài Khoản")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Matkhau)
        </th>*@
    <th>
        @Html.DisplayName("Email")
    </th>
    <th>
        @Html.DisplayName("Địa Chỉ")
    </th>
    <th>
        @Html.DisplayName("Điện Thoại")
    </th>
        <th>
            @Html.DisplayName("Ngày Sinh")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taikhoan)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Matkhau)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiachiKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienthoaiKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaysinh)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKH })
        </td>*@
    </tr>
}

</table>
