
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<table align="center">
       <h2 style="text-aligh:center">Đăng ký thành viên</h2>
        @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                    <tr style="height:50px">
                        <td>Họ tên khách hàng:</td>
                        <td>@Html.TextBox("HotenKH")
                           @ViewData["Loi1"]
                        </td>
                    </tr>
                    <tr style="height:50px">
                          <td>Họ tên khách hàng:</td>
                           <td>@Html.TextBox("TenDN")
                            @ViewData["Loi2"]
                                </td>
                            </tr>
                    <tr style="height:50px">
                                  <td>Họ tên khách hàng:</td>
                                   <td>@Html.TextBox("Matkhau")
                                    @ViewData["Loi3"]
                                        </td>
                                    </tr>
                    <tr style="height:50px">
                          <td>Mật khẩu nhập lại:</td>
                           <td>@Html.TextBox("Matkhaunhaplai")
                            @ViewData["Loi4"]
                                </td>
                            </tr>
                     <tr style="height:50px">
                          <td>Điện thoại:</td>
                           <td>@Html.TextBox("Dienthoai")
                            @ViewData["Loi5"]
                                </td>
                            </tr>
                     <tr style="height:50px">
                          <td>Ngày sinh:</td>
                           <td>
                               <input type="date" name="Ngaysinh"/>
                                </td>
                            </tr>
                     <tr style="height:50px">
                         <td></td>
                         <td>
                            <input type="Submit" value="Đăng ký" />
                     </td>
                     </tr>

                    
            }
</table>